<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>家計簿アプリ</h1>
            <a href="/income" class="income" role="button"><span>収入</span></a>
            <a href="/outlay" class="outlay" role="button"><span>支出</span></a>
            <br><br>
            <a href="/result" class="result" role="button">履歴</a>
</body>
</html>