<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/outlay.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>支出</h1>
        <form action="/outlay" method="POST">
            <div class="amount">
                <span>金額：</span>
                <input type="number" class="amount_input" name="number">
                <br><br>
            </div>
            <div class="category">
                <span>カテゴリー:</span>
                <select name="category" >
                    <option value="食費">食費</option>
                    <option value="趣味">趣味</option>
                    <option value="その他">その他</option>
                </select>
                <br><br>
            </div>
            <div class="date" >
                <span>日時:</span>
                <input type="date" class="date_input" name="date">
                <br><br>
            </div>
            <div class="memo">
                <span>メモ：</span>
                <textarea name="memo" ></textarea>
                <br><br>
            </div>

            <div class="outlay_button">
                <input type="submit" value="保存">

            </div>
        </form>
        
</body>
</html>